.page-video {    
  width: 100%;
  height: 100%;
  max-height: 85%;
  position: relative;
  display: flex;
  align-items: end;
  padding: 30px;
  
  /* Set up the video container */
  .video-overlay {
    position: absolute;   /* Keeps the video fixed as background */
    top: 0;               /* Align to the top of the viewport */
    left: 0;              /* Align to the left of the viewport */
    width: 100%;          /* Make it fill the entire width */
    height: 100%;      /* Make it fill the entire height */
    z-index: 1;           /* Send the video behind other content */

    /* Style the video to cover the full viewport */
    #bg-video {
      object-fit: cover; /* Ensures the video covers the entire area */
      width: 100%;       /* Full width of the viewport */
      height: 100%;      /* Full height of the viewport */
    }
    img {
      height: inherit;
      width: 100%;
      object-fit: cover;
    }
  }

  .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    z-index: 2;
  }
}

.page-video.fullScreen_hero {
  height: 100vh;
  max-height: inherit;
}
.page-video.threeQuarter_hero {
  height: 100%;
  max-height: 75%;
}
.page-video.half_hero { 
  height: 100%;
  max-height: 50%;
}
.page-video.quarter_hero {
  height: 100%;
  max-height: 25%;  
}